
#examples{
	padding: 10px;
	overflow: hidden;
}
.content{
	overflow: auto;
	padding: 10px;
	background: rgb(75, 69, 69);
	height: 100px;
	-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}